<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=e94ca997-a94a-4f35-bfe1-f92c982ee758" type="text/javascript"></script>
</head>
<body>
  {{> './src/templates/geo-content.hbs'}}
</body>
</html>